@model Atrasti.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<style>
    #body-content {
        background-size: cover;
        background: url(https://images.unsplash.com/photo-1547932087-59a8f2be576e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) center;
    }
</style>

<div id="body-content">
    <div class="container">

        <div class="d-flex justify-content-center vh-100">
            <div id="login-card" class="bg-light">
                <div class="d-flex justify-content-center">

                    <div class="w-75" id="login-form-wrapper">
                        @if (ViewData["password-succeed"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                Your password has now been resetted.
                            </div>
                        }
                        else
                        {
                            <br/>
                        }
                        
                        <form class="mb-2" method="POST" action="@Url.Action("PasswordReset", "Login")">

                            @Html.HiddenFor(m => m.Token)
                            @Html.HiddenFor(m => m.Id)

                            <div class="input-group mb-2">
                                @if (ViewData.ContainsKey("password-error"))
                                {
                                    <input id="Password" type="password" class="form-control is-invalid"
                                           asp-for="Password" required
                                           placeholder="Password">
                                    <span class="invalid-feedback" role="alert">
                                        <strong>@ViewData["password-error"]</strong>
                                    </span>
                                }
                                else
                                {
                                    <input id="Password" type="password" class="form-control"
                                           asp-for="Password" required
                                           placeholder="Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text text-white" style="background-color: #5a6268">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                }
                            </div>
                            <div class="input-group mb-2">
                                <input id="ConfirmPassword" type="password" class="form-control"
                                       asp-for="ConfirmPassword" required
                                       placeholder="Confirm password">
                                <div class="input-group-append">
                                    <span class="input-group-text text-white" style="background-color: #5a6268">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <input type="submit" value="Reset Password" class="form-control btn btn-secondary">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>