@model Atrasti.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<style>
    #body-content {
        background-size: cover;
        background: url(https://images.unsplash.com/photo-1547932087-59a8f2be576e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) center;
    }
</style>

<div id="body-content">
    <div class="container">

        <div class="d-flex justify-content-center vh-100">
            <div id="login-card" class="bg-light">
                <div class="d-flex justify-content-center">

                    <div class="w-75" id="login-form-wrapper">

                        @if (ViewData["sent"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                If the email matches any records in our database the email was sent.
                            </div>
                        }
                        else if (ViewData["resetSuccess"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                Your password has been resetted. You may login with your n
                            </div>
                        }
                        else
                        {
                            <br />
                        }
                        
                        <form class="mb-2" method="POST" action="@Url.Action("ResetPasswordPost", "Login")">

                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text text-white" style="background-color: #5a6268">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>

                                <input id="Email" type="Email" class="form-control"
                                       asp-for="Email" required autocomplete="Email"
                                       placeholder="Email">
                            </div>

                            <input type="submit" value="Send Password Reset Link" class="form-control btn btn-secondary">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>